<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IP" value="127.0.0.1"/>
    <add key="Port" value="11000"/>
    <add key="file" value="F:\1.jpg|F:\A.avi|F:\2.jpg"/>
    <add key="lience" value ="MKEMEMM333736C872GM9E97C"/>
    <add key="starttime" value="10" />
    <add key="stoptime" value="10" />
  </appSettings>
</configuration>